{{>layout/header}}
<h1> 게시글 수정 </h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">아이디</label>
                <input type="text" class="form-control" id="title" value="{{posts.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author">이름</label>
                <input type="text" class="form-control" id="author" value="{{posts.author}}">
            </div>
            <div class="form-group">
                <label for="number">전화번호</label>
                <input type="text" class="form-control" id="number" value="{{posts.name}}">
            </div>
            <div class="form-group">
                <label for="admin">주소</label>
                <input type="text" class="form-control" id="admin" value="{{posts.admin}}">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" value="{{posts.content}}"></textarea>
            </div>
        </form>

        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>

    </div>
</div>
{{>layout/footer}}